<!DOCTYPE html>
<html lang="ja-JP">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .border {
          display: inline-block;
        }
        .right-align-input {
        text-align: right;
        }
      </style>
    <title>IPレンジ作成</title>
</head>
<body>
    <center>
        <form action="/result" method="POST" enctype="multipart/form-data" >
    
            <p><font size="5">最初のIPアドレス</font></p>
            <div class="border">
                <input type="number" name="1octet_start" min="0" max="255" class="right-align-input">
                .
                <input type="number" name="2octet_start" min="0" max="255" class="right-align-input">
                .
                <input type="number" name="3octet_start" min="0" max="255" class="right-align-input">
                .
                <input type="number" name="4octet_start" min="0" max="255" class="right-align-input">
            </div>

            <br>
            <br>
            
            <p><font size="5">最後のIPアドレス</font></p>
            <div class="border">
                <input type="number" name="1octet_end" min="0" max="255" class="right-align-input">
                .
                <input type="number" name="2octet_end" min="0" max="255" class="right-align-input">
                .
                <input type="number" name="3octet_end" min="0" max="255" class="right-align-input">
                .
                <input type="number" name="4octet_end" min="0" max="255" class="right-align-input">
            </div>

            <br>
            <br>
            <input type="submit" name="作成">

        </form>
        
        

        
        
    </center>
    
    
</body>
</html>